<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container-fuild">
    <div class="card-group">
      <div class="card">
        <div class="card-body shadow">
          <form action="
          ">
            <h5 class="card-title mb-3">welcome </h5>
            <p class="card-text">
              linked has send on your register email . please verify it .
            </p>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
